@import 'normalize-css/normalize';




.app{
	box-sizing:border-box;
}




//////////MAIN COMPONENT//////////--------------


.main-wrapper{
	box-sizing:border-box;
	width:100vw;
	height:40px;
	background-color:#db2616;
	border-bottom:2px solid black;
	padding-left:10px;
	padding-right:10px;
	z-index:1;
}


.main-flex{
	display:flex;
}

.username-password{
	padding-top:10px;
	width:100%;
	display:flex;
	justify-content:flex-end;
}

.main-points{
	padding-left:20px;
}

.logo{
	padding-top:5px;
	font-family: 'Grand Hotel', cursive;
	font-size: 28px;
}

//////////NEWUSER//////////--------------



.newuser-wrapper{
	position:relative;
	width:500px;
	height:400px;
	margin:auto;
	border:1px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 100px;
	padding-left: 20px;
	// padding-right:20px;
}


.newuser-wrapper input{
	margin-bottom:15px;
	width:90%;

}


.newuser-wrapper button{
	position:absolute;
	bottom: 30px;
	right: 50px;
	background-color: transparent;
}





