@import 'normalize-css/normalize';



$salmon: #FF4D2C;	
$slate:  #7CB7C0;

@mixin gradient(){
	background: -moz-linear-gradient(left,  rgba(255,77,44,1) 0%, rgba(162,162,162,0.63) 50%, rgba(0,218,244,0.25) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,77,44,1) 0%,rgba(162,162,162,0.63) 50%,rgba(0,218,244,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,77,44,1) 0%,rgba(162,162,162,0.63) 50%,rgba(0,218,244,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4d2c', endColorstr='#4000daf4',GradientType=1 ); /* IE6-9 */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@mixin login-box(){
	position:relative;
	width:500px;
	height:400px;
	margin:auto;
	border:1px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 120px;
	padding-left: 20px;
}


@mixin button(){
	background-color: transparent;
	border-radius: 5px;
}

// @mixin button-hover(){
// 	color:$slate;
// }



// -----------------------------/////////////////



.app{
	box-sizing:border-box;

}




//////////MAIN COMPONENT//////////--------------


.main-wrapper{
	box-sizing:border-box;
	width:100vw;
	height:40px;
	background-color:white;
	// border-bottom:4px solid black;
	z-index:1;

}


.main-flex{
	display:flex;
}

.username-password{
	padding-top:10px;
	width:100%;
	display:flex;
	justify-content:flex-end;
}

.main-points{
	padding-left:20px;
	padding-right:10px;
}

.logo{
	color: $salmon;
	padding-left:10px;
	padding-top:5px;
	font-family: 'Grand Hotel', cursive;
	font-size: 28px;
}


.gradient-border{
	width:100%;
	height:10px;
	@include gradient;
}

//////////NEWUSER//////////--------------



.newuser-wrapper{
	@include login-box;
}


.newuser-wrapper input{
	margin-bottom:15px;
	width:90%;

}


.newuser-wrapper button{
	position:absolute;
	bottom: 20px;
	right: 45px;
	@include button;
}

.newuser-wrapper button:hover{
	color:$slate;
}


.dropzone {
	padding-top: 25px;
	width: 91%;
	height:70px;
	border:1px dotted black;
	border-radius: 5px;
	text-align: center;
	// padding-top: 35px;
	// object-fit: fill;

}

.dropzone:hover {
	color:$slate;
}


.dropzone input {
	background-color: white;
}



//////////LOGIN -- RETURNING USER//////////--------------



.login-wrapper{
	@include login-box;

}


.login-wrapper input{
	margin-bottom:15px;
	width:90%;

}

.login-button-2{
	position:absolute;
	bottom: 20px;
	right: 45px;
	@include button;
	
}

.login-button-2:hover{
	color: $slate;
}

.login-button-1{
	position:absolute;
	bottom: 180px;
	right: 45px;
	@include button;
	
}

.login-button-1:hover{
	color:$slate;
}


//////////SUBMIT YOUR SAD STORY//////////--------------


.submit-story-wrapper{
	position:relative;
	width:500px;
	height:600px;
	margin:auto;
	// background-color: $slate;
	// border:1px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 120px;
	padding-left: 20px;
	padding-top:10px;

}

.submit-content input{
	padding-bottom: 200px;
	width: 90%;
	margin-bottom: 20px;
}

.submit-title input{
	width: 90%;
	margin-bottom: 20px;

}


.submit-story-wrapper button{
	@include button;
}

.submit-story-wrapper button:hover{
	color:$slate;
}




// STORYBOARD/////////////////////////////////


.storyboard-wrapper{
	width:100vw;
	height:100%;
	background-color: $slate;
}


.storyboard-main{
	
}







